.body {
    width: 100%;
    padding-top: 5%;
    .wrapper {
        border: 2px solid black;
        border-top: none;
        padding: 2%;
        .sorting {

        }
        .product {
            display: flex;
            flex-wrap: wrap;
        }
    }
}