.footer {
    background-color: lightcoral;
    border: 1px solid black;

    .footerWrap {
        display: flex;
        justify-content: space-evenly;
        a {
            text-decoration: none;
            color: black;
        }
    }
}