.header {
    width: 100%;
    height: 12vh;
    background-color: lightcoral;
    border: 2px solid black;
    box-sizing: border-box;
    position: fixed;
    .headerWrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .logotype {
            .logoImg {
                width: 11vh;
            }
        }
        .menu {
            .menuList {
                display: flex;
                list-style-type: none;
                font-size: 3vh;
                .menuItem {
                    padding: 0% 15%;
                    a {
                        text-decoration: none;
                        color: black;
                        &:hover {
                            font-size: 3vh;
                            border-bottom: 4px solid wheat;
                            padding-bottom: 2%;
                            transition: 0.5s ease;
                        }
                    }
                }
            }
        }
    }
}